<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-title style="margin-top: 20px;">For You</ion-title>
<ion-list>
  <ion-row style="background-color: aquamarine; border-radius: 16px;" class="ion-margin" *ngFor="let article of topHeadlines">
    <ion-col size="4">
      <img style="width: 300px;height: 100px;object-fit: cover;border-radius: 5px;" src="{{article.urlToImage}}" />
    </ion-col>
    <ion-col size="8">
      <ion-label>
        {{article.author}}
        <p>{{article.publishedAt | date}}</p>
        <p style="font-weight: 200;">{{article.title}}</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-list>
</ion-content>
